<!--The content below is only a placeholder and can be replaced.-->
<div class="row claculator">
<div>
<input id=bt1 class="btn btn-primary btn1" [attr.placeholder]="1"  value="1" text="1" aria-label="1"  type="button"/>
<input id=bt2 class="btn btn-primary btn1" [attr.placeholder]="2" value="2" text="2" aria-label="2" type="button"/>
<input id=bt3 class="btn btn-primary btn1" [attr.placeholder]="3"  value="3" text="3"aria-label="3" type="button"/>
<input id=bt4 class="btn btn-primary btn1" [attr.placeholder]="4"  value="4" text="4" aria-label="4" type="button"/>
</div>
<div>
<input id=bt5 class="btn btn-primary btn2" [attr.placeholder]="5" value="5" text="5" aria-label="5" type="button"/>
<input id=bt6 class="btn btn-primary btn2" [attr.placeholder]="6" value="6" text= "6" aria-label="6" type="button"/>
<input id=bt7 class="btn btn-primary btn2" [attr.placeholder]="7" value="7" text="7" aria-label="7" type="button"/>
<input id=bt8 class="btn btn-primary btn2" [attr.placeholder]="8" value="8" text="8" aria-label="8" type="button"/>
</div>
<div>
<input id=bt9 class="btn btn-primary btn3"  [attr.placeholder]="1" value="9" text="9" aria-label="1" type="button"/>
<input id=bt10 class="btn btn-primary btn3" [attr.placeholder]="1"  value="10" text="10" aria-label="1" type="button"/>
<input id=b11 class="btn btn-primary btn3" [attr.placeholder]="1" value="11" text="11" aria-label="1"type="button"/>
<input id=bt12 class="btn btn-primary btn3" [attr.placeholder]="1" value="12" text="12" aria-label="1" type="button"/>
</div>
<div>
    <input id=bt13 class="btn btn-primary btn4" type="button"/>
    <input id=bt14 class="btn btn-primary btn4" type="button"/>
    <input id=b15 class="btn btn-primary btn4" type="button"/>
    <input id=bt16 class="btn btn-primary btn4" type="button"/>
    </div>
</div>